@banner0: banner0;
.@{banner0} {
  // If it is on the first screen and the navigation position is relative,
  // one screen is height: calc(~"100vh-64px");
  width: 100%;
  height: calc(100vh - 64px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  border-color: #666;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  .img-description {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 0;
    white-space: normal;
    color: #fff;
    opacity: 0.7;
  }

  .img-description:hover {
    opacity: 1;
  }

  .institute-logos {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 160px;
    height: 72px;
  }

  & &-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -5%; // since bg image shift upwards due to attachment: fixed & size: cover
    color: @template-text-color-light;
    // width: 550px;
    > .queue-anim-leaving {
      position: relative !important;
    }
  }
  & &-byline {
    img {
      display: inline;
      height: 90px;
    }
    img.aries {
      height: 60px;
      filter: brightness(1.5);
    }
  }
  & &-title {
    text-shadow: 0 0 18px @primary-color;
    font-family: "Asap", sans-serif;
    font-weight: 600;
    line-height: 1.2;
    font-size: ~"max(2em, 1.2em + 2vw)";
    letter-spacing: 0.02em;
    p {
      margin: 0;
    }
  }
  // TODO: Make content and button font-size responsive too
  & &-content {
    margin: 1.5em auto 3em;
    word-wrap: break-word;
    max-width: 96%;
    width: 400px;
    letter-spacing: 0.015em;
    opacity: 0.8 !important;
  }
  & &-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    box-shadow: 0 0 0 transparent;
    font-size: 16px;
    height: 40px;
    transition: background 0.45s @ease-out, box-shadow 0.45s @ease-out;
    &:hover {
      color: #fff;
      border-color: #fff;
      background: rgba(255, 255, 255, 0.1);
      box-shadow: 0 0 10px @primary-color;
    }
    &:focus {
      color: #fff;
      border-color: #fff;
    }
    &.queue-anim-leaving {
      width: auto;
    }
  }
  & &-icon {
    bottom: 20px;
    font-size: 24px;
    position: absolute;
    left: 50%;
    margin-left: -12px;
    color: @template-text-color-light;
  }

  &-caption {
    max-width: 500px;
    font-size: 0.9em;
  }
}

@media screen and (max-width: 1279px) {
  .@{banner0} {
    // Disable background-attachment: fixed for tablets and smaller devices
    // since it gets degraded and in iOS devices, causes unintended behavior.
    background-attachment: initial;
    & &-text-wrapper {
      margin-top: 0; // reset to normal
    }
  }
}

@media screen and (max-width: 767px) {
  .@{banner0} {
    & &-text-wrapper {
      width: 90%;
    }
  }
}

@media only screen and (max-width: @screen-xs) {
  .@{banner0} {
    .img-description {
      bottom: 20px;
      width: 6em;
    }
  }
}
