@content2: content2;
.@{content2}-wrapper {
  // height: 360px;
  margin: 120px auto;
  .@{content2} {
    // height: 100%;
    padding: 0 24px;
    justify-content: center;
    align-items: center;
    &-img {
      padding: 0 32px;
      max-width: 550px;
      min-width: 0;
      // display: flex;
      // align-items: center;
      // justify-content: center;
      .card {
        box-shadow: 0 2px 16px rgba(0, 0, 0, 0.08);
        .ant-card-body {
          padding: 0px;
        }
      }
      &-inner {
        padding: 24px;
        .slick-dots {
          li button {
            background: black;
          }
          li.slick-active button {
            background: black;
          }
        }
        .captioned-img {
          // height: 100%;
          // display: flex;
          // align-items: center;
          .caption {
            margin: 12px auto 6px;
            font-size: 0.92em;
            color: #404040;
          }
        }
      }
    }
    &-text {
      padding: 0 32px;
      height: 100%;
      .@{content2}-content,
      .@{content2}-title {
        position: relative !important;
      }
      .@{content2}-title {
        font-size: 32px;
        font-weight: normal;
        color: #404040;
        // margin-top: 120px;
      }
      .@{content2}-content {
        > p {
          margin-top: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .@{content2}-wrapper {
    .@{content2} {
      &-img {
        padding: 0;
        margin-top: 64px;
      }
      &-text {
        height: auto;
        margin-bottom: 20px;
        text-align: center;
        padding: 0;
        .@{content2}-content,
        .@{content2}-title {
          width: 100%;
          top: auto;
        }
        .@{content2}-title {
          margin: 32px auto 16px;
        }
      }
    }
  }
}
